version: '3'
services:
  foodle-api-server:
    build:
      context: .
      dockerfile: Dockerfile
    image: node
    container_name: foodle-api-server
    env_file: .env
    environment:
      PORT: ${PORT}
      MONGO_URL: ${MONGO_URL}
      TWITTER_CONSUMER_KEY: ${TWITTER_CONSUMER_KEY}
      TWITTER_CONSUMER_SECRET: ${TWITTER_CONSUMER_SECRET}
      COOKIE_KEY: ${COOKIE_KEY}
      CLIENT_HOME_PAGE_URL: ${CLIENT_HOME_PAGE_URL}
    ports:
      - '7000:7000'
    networks:
      - foodle-server-app
    depends_on:
      - mongo

  mongo:
    image: mongo:3.6.19-xenial
    ports:
      - '27017:27017'
    networks:
      - foodle-server-app
    volumes:
      - mongo-data:/data/db
networks:
  foodle-server-app:
    driver: bridge
volumes:
  mongo-data:
    driver: local
