.footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: rgb(220, 228, 245);
  color: rgb(0, 0, 0);
}

.footer-dark {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #06080e;
  color: white;
}
