:root {
  --nav-color: #deebff;
  --home-container-card: #fafafa;
  --footer-color: #0f1318;
  --footer-bg: rgb(220, 228, 245);
  --stripped-odd: rgba(242, 242, 242, 0.842);
  --stripped-even: rgba(206, 203, 203, 0.842);
  --highlight-color: rgba(206, 203, 203, 0.842);
  /* --primary-color: #203647;
  --secondary-color: #536390;
  --font-color: #515151;
  --bg-color: #fff;
  --heading-color: #292922;
  --masthead-color: #505050;
  --post-content-color: #0d6dbb;
  --posts-color: #0d6dbb;
  --sidebar-color: #203647;
  --code-bg: #f9f9f9;
  --tag-base-color: #eee;
  --tag-content-color: rgb(82, 79, 100);
  --strong-color: #030b13; */
}

[data-theme='dark'] {
  --nav-color: #0f1318;
  --home-container-card: #0b1c2c;

  --footer-color: rgb(99, 131, 233);
  --footer-bg: #06080e;
  --stripped-odd: #102a43;
  --stripped-even: #243b53;
  --highlight-color: #102a43;
  /* --primary-color: #486581;
  --secondary-color: #818cab;
  --font-color: #c5d9e9;
  --bg-color: #030b13;
  --heading-color: #818cab;
  --masthead-color: #c2bdbd;
  --post-content-color: #6993e2;
  --posts-color: #0d6dbb;
  --sidebar-color: #07121d;
  --code-bg: #21252b;
  --tag-base-color: #102a43;
  --tag-content-color: #fff;
  --strong-color: #587ec4; */
}
