:root {
  --nav-color: #334e68;
  --home-container-card: #fafafa;
  --footer-color: #fafafa;
  --footer-bg: #334e68;
  --stripped-odd: rgba(242, 242, 242, 0.842);
  --stripped-even: rgba(206, 203, 203, 0.842);
  --highlight-color: rgba(206, 203, 203, 0.842);
  --list-text-color: #0f1318;
  --nav-text-color: #fafafa;
  --wrapper-bg: rgba(51, 78, 104, 0.75);
  --login-form-color: #58a0e2;
}

[data-theme='dark'] {
  --nav-color: #0f1318;
  --home-container-card: #0b1c2c;
  --footer-color: #4b7297;
  --footer-bg: #0f1318;
  --stripped-odd: #102a43;
  --stripped-even: #243b53;
  --highlight-color: #102a43;
  --list-text-color: #e0e9f3;
  --nav-text-color: #4b7297;
  --wrapper-bg: rgba(15, 19, 24, 0.75);
  --login-form-color: #3e84ca;
}
