:root {
  --background-color: #3f5ea7;
}

[data-theme='dark'] {
  --background-color: #0f1318;
}

.nav-theme {
  /* background-color: #0f1318 !important; */
  background-color: #3f5ea7 !important;
}

.nav-theme.dark {
  background-color: #0f1318 !important;
}

.nav-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
