<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="row">
        <div class="col-sm-12">
          <div
            class="jumbotron"
            style="padding-top: 20px; padding-bottom: 10px"
          >
            <h1>API Documentation</h1>
            <p>
              Welcome to templating using EJS. This is a very simple
              Documentation.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="jumbotron" style="padding-top: 5px; padding-bottom: 5px">
            <h6> GET: /api/v1/dish/:id</h6>
            <br />
            <h6> GET: /api/v1/dish/all</h6>
            <br />
            <h6> POST: /api/v1/dish/</h6>
            <br />
            <h6> PUT: /api/v1/dish/</h6>
            <br />
            <h6> DELETE: /api/v1/dish/:id</h6>
          </div>
        </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
